manifest {
    name        = "getit"
    description = 'Seach for homologs?'
    homePage    = 'Homepage of your project'
    version     = 0.01
    mainScript  = 'main.nf'
}

params {
  
  outdir = "results"
  help=""
  ids=''
  sample=-1
}


timeline {
	enabled = true;

}

report {
	enabled = true;
}

executor {
  $slurm {
      queueSize = 25
  }

  $local {
      cpus = 14
      memory = '12 GB'
  }
}

profiles {
  conda {
    process.conda = "environment.yml"
  }
}
